<!DOCTYPE html>
<html>
  <head>
    <title>Grant's website | <%= title() %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  </head>
  <body>
    <%= yield %>
    <div><a href="/">Home</a></div>
  </body>
</html>
